* {
  font-family: monospace;
  border: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: rgb(91, 91, 91);
  border-radius: 5px;
  box-shadow: 12px 9px 31px 6px rgba(66, 68, 90, 0.702);
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 70px;
  width: auto;
  margin: 10px 8px;
  background-color: antiquewhite;
  font-weight: 700;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.current {
  font-size: 30px;
}

.previous {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(84, 84, 84);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 25px 10px;
}

.btn,
.btn_equal {
  font-size: 20px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px #999;
}

.btn:hover {
  background: white;
}

.btn:active {
  box-shadow: 0 2px #999;
  transform: translateY(3px);
}

.btn_equal {
  background-color: orange;
  box-shadow: 0 4px rgb(160, 104, 0);
  grid-column: 3 / span 2;
}

.btn_equal:hover {
  background: rgb(250, 209, 131);
}

.btn_equal:active {
  box-shadow: 0 2px rgb(160, 104, 0);
  transform: translateY(3px);
}
